:root {
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    color-scheme: dark;
}   

.color-scheme{
    margin-top: 0px;
    padding:0px;
    color:rgb(76, 148, 148);
    font-style: bold;
}

body { 
    /* Set line height to 1.5 times the font size
       and use the 0S's UI font as the website font */
    font: 100%/1.5 system-ui;
    margin-inline: auto;
    padding-left: 2ch; 
    padding-right: 2ch;
    color-scheme: dark;
    border-bottom-color: oklch(50% 10% 200 / 40%);
}

h1{
    /* font-style: italic; */
    font-size: 50px;
    font-family: garamond;
    margin: 0px;
    text-align: center;
    background-color: rgb(68, 181, 209);
}

.projects{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
}

article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    padding-right: 5px;
    padding-left: 5px;
}

time{
    font-family: Baskerville;
}

nav{
    display: flex;
    padding-left: 0.5%;
    padding-right: 0px;
    margin-bottom: 1px;
    --border-color: oklch(50% 10% 200 / 40%);
    /* color: blue; */
    border-bottom-color: var(--border-color);
}

h2{
    margin: 0;
    font-style: garamond;
}

.resume{
    display: grid;
    grid-template-columns: auto 1fr;
}

.resume h3{
    margin-bottom:0px;
    font-size: larger;
    background-color: rgb(68, 143, 255);   
    font-family: garamond; 
}

section{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 1 / -1;
    border-bottom-color: rgb(230, 227, 227);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    /* margin: 5px; */
    padding: 5px;
}

a.current{
    padding-bottom: 0.1em;
    border-bottom-color:rgb(139, 212, 255);
    border-bottom-width: 0.3em;
    font-weight: bold;
}




.navigation_bar{
    flex: 1;
    text-decoration: none;
    text-align: center;
    /* padding: 0.5rem; */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(60, 168, 240);
    font-size: 20px;
    color: rgb(82, 82, 203);

    a:hover{
        border-bottom-color: rgb(3, 87, 205);
        border-bottom-width: 0.3em;
        padding-bottom: 0.1em;
        background-color: rgb(212, 251, 255);
        font-weight: bold;
    }
    
}

.home-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-img{
    padding:15px;
    margin:10px;
    max-height: 100%;
    max-width: 100%;
}

img{
    max-width: 100%;
    /* align-items: center; */
    max-height: 250px;
    /* border: 5px solid rgb(181, 235, 231); */
    /* padding:15px; */
    /* margin:10px */
}

img:hover{
    filter: opacity(75%);
}

form{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

time{
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.biography{
    font:inherit;
    display: block;
    font-family: Cambria;
    font-size: 30px;
    width: 300px;
    word-wrap: break-word;
    padding-left: 50px;
    
}

input{
    font:inherit;
}

textarea{
    font:inherit;
    display: block;
}

label{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    margin-top: 5px;
    padding:15px;
}
button{
    grid-column: 1 / -1;
    height: 30px;
}

.Education p{
    padding-top: 0px;
    padding-left: 1ch;
    background-color: rgb(120, 196, 217);
    color: black;
    margin-bottom: 1px;
}

.Relevant_Experience p{
    padding-top: 0px;
    padding-left: 1ch;
    background-color: rgb(149, 227, 249);
    margin:0px;
    color: black;
}

.Academic_Projects p {
    padding-top: 0px;
    padding-left: 1ch;
    background-color: rgb(149, 227, 249);
    margin:0px; 
    color: black;   
} 

.Community_Leadership p{
    padding-left: 1ch;
    background-color: rgb(149, 227, 249);
    margin:0px; 
    color: black;
}